header {
    width: 100%;
    background-color: white;
    height: auto;
    border-bottom: 20px solid;
    border-color: #cccccc;

}
body {
        background-image: url("../images/financialscamimage2.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-color:#464646;
}

.container {
        width: 100%;
        margin: 0 auto;
        height: 75px;
    }

.form {
    margin-top: 25%;
    width: 33%;
    height: auto;
    background-color: white;
}

footer {
    width: 100%;
    Background-color: black;
    color: white;
    text-anchor: end;
    text-align: center;
}

#footertext {
    color: white;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: small;
    text-align: center;
    background-color: #black;
    padding-bottom: 1cm;
    padding-top: 1cm;
    position:absolute;
    bottom:0;
    width: 100%;
}